body{
  font-style: "Montserrat";
  text-align: center;
}
h1, h2, h3{
  font-family: "Montserrat-bold";
}
p{
  color: #8F8F8F;
}


/* heading */
.second-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.big-heading{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
}



/* navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


/* Download button */
.download-button{
  margin:5% 3% 5% 0;
}


/* title image*/
 .title-image{
   width:60%;
   transform: rotate(25deg);
   position: absolute;
   right:30%;
 }
 .testmonial-image{
 width: 20%;
 border-radius: 100%;
 margin:20px;
 }


 /* feature */
 .fiture-box{
   padding: 4.5%;

 }
 .feature-heading{
     font-size: 1.5rem;
 }
 #features{
   background-color: #fff;
   position: relative;
   z-index: 1;
 }


 /* container */
 .container-fluid{
   padding: 7% 15%;
 }
 .container{
   padding: 7% 15%;
 }
 #title .container-fluid{
   padding:3% 15% 7%;
     text-align: left;
 }


 /* icons */
 .social-icon{
   margin: 20px 10px;
 }
 .icon{
  color:#ef8172;
  margin-bottom: 1rem;
 }
.icon:hover{
  color:#ff4c68;
}
.press-logo{
  width: 15%;
  margin: 2px 20px 50px;
}


/* color section */
.colord-section{
  background-color: #FF4C68;
  color:#fff;
}
.white-section{
  background-color: #FFF;
}
#testimonials{
  background-color: #ef8172;
}
#press{
background-color: #ef8172;
padding-bottom: 3%;
}


/*Pricing section */
#pricing{
  padding:100px;
}
.pricing-column{
  padding:3% 2%;
}
.prcing-text{
  font-size: 3rem;
  line-height: 1.5;
}


/* media query */
@media (max-width:1028px){
    .title-image{
      position: static;
      transform: rotate(0deg);
    }
    #title{
      text-align: center;
    }
}
